* {
    font-family: "optima" , "Big Caslon";
    margin: 0;
    padding: 0;
}

/* Here the header section starts */

header {
    border: black 1px solid;
    height: 25rem;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color:#222222;
    width: 100%;
}

.nav-name {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
    margin: 0.3rem;
}


.nav-name a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #caaf7a;
}

.nav-name a::first-letter {
    font-size: 1.5rem; 
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-options {
    width: 60%;
    display: flex;
    justify-content:left;
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
    margin-right: 1.9rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

.nav-options a {
    text-decoration: none;
    padding-left: 3.5rem;
    color: #bdbdbd;
}